	h1 {color:forestgreen;font-size: 50px}
	h3 {color:steelblue;font-size: 25px}
	h4 {color: gold;font-size: 25px;font-style: italic;}
	img {width: 400px;}
	#thirdDiv{height: 600px;width: 500px;background: indianred;padding: 50px; border: 10px;border-style: dotted;} 
	#spanId {font-size: 18px; margin: 50px}
		
